<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61643336-1', 'auto');
      ga('send', 'pageview');
    </script>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Babson-Olin-Wellesley Community Shuttle Tracker</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div align='center'>
        <h1><a href="/" style='text-decoration:none'><font color="white">BOW Shuttle Tracker</font><img src="/images/logo.png" align="left"></a></h1>
      </div>
    </nav>
    {{{body}}}
  </body>
  <script type="text/javascript" src="javascripts/main.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>
</html>