<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <meta charset="utf-8">
    <title>Babson-Olin-Wellesley Community Shuttle Tracker</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div align='center'>
        <h1><a href="/" style='text-decoration:none'><font color="white">Babson-Olin-Wellesley Community Shuttle Tracker</font></a></h1>
      </div>
    </nav>
    {{{body}}}
  </body>
  <script type="text/javascript" src="javascripts/main.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.js"></script>
</html>