<div align='center'><h2>BOW Shuttle Tracker on Indefinite Hiatus</h2></div>
<div style='padding:1em 15rem 0em 15rem'><p1 align='left'>Dear users and friends,</p1><br><br><p1 align='center'>We are sorry to inform you that our project, the BOW Shuttle Tracker, is on indefinite hiatus beginning April 18, 2015. We don't know if or when this community platform will return, but if you have benefitted from it's usage or have any other thoughts, we would love to hear from you. Feel free to leave comments below, or contact us directly <a href='mailto:bowshuttle@gmail.com'>here.</a></p1><br><br><p1 align='left'></p1>Team Silent Panthers</p1><br><br></div>
<div align='center'><form action='feedbacksubmit' id='feedbackform' method='POST'>
    Name: <input type='text' name='name'><br><br><textarea name='feedback' style='height:15rem; width:40rem'></textarea><br><br><input type='submit'>
</form>
</div><br>
<div align='center' id="success"></div>