<div align='center'>
    <form action="fakesubmits" id="nextdest" method="POST">
        Time till next place<input type="text" name="minutes">
        <input type="submit">
    </form>
    <br>
    <select id="place" form="nextdest">
        <option value="Wellesley Campus Center">Wellesley Campus Center</option>
        <option value="Wellesley Chapel">Wellesley Chapel</option>
        <option value="Olin East Hall">Olin East Hall</option>
        <option value="Hollister Parking Lot">Hollister Parking Lot</option>
    </select>
        <select id="image" form="nextdest">
        <option value="0">0</option>   
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
    </select>
    Display:
    <select id="displaying" form="nextdest">
        <option value=0>No</option>
        <option value=1>Yes</option>
    </select><br>
    <div id="successful"></div><br>
</div>
<div>
    <table border='1'>
        <tr>
            <td align='center'><img class='table' src='/images/0.png'><br>0</td>
            <td align='center'><img class='table' src='/images/1.png'><br>1</td>
            <td align='center'><img class='table' src='/images/2.png'><br>2</td>
            <td align='center'><img class='table' src='/images/3.png'><br>3</td>
        </tr><tr>
            <td align='center'><img class='table' src='/images/4.png'><br>4</td>
            <td align='center'><img class='table' src='/images/5.png'><br>5</td>
            <td align='center'><img class='table' src='/images/6.png'><br>6</td>
            <td align='center'><img class='table' src='/images/7.png'><br>7</td>
        </tr><tr>
            <td align='center'><img class='table' src='/images/8.png'><br>8</td>
            <td align='center'><img class='table' src='/images/9.png'><br>9</td>
            <td align='center'><img class='table' src='/images/10.png'><br>10</td>
            <td align='center'><img class='table' src='/images/11.png'><br>11</td>
        </tr>
    </table>
</div>