<div align='center'>
    <h1>Babson-Olin-Wellesley Community Shuttle Tracker</h1>
</div>
<div align='center'>
    <h2 id='lastPlace'>Last seen at: {{lastPlace}} </h2>
    <p2 id='lastTime'>{{lastTime}}</p2>
</div>
<div style='width: 100%; overflow: hidden;'>
    <h2 id='changeHeader' align='center'>Tell us where the shuttle is!</h2>
    <form id='hideForm' class="ajax-form" action='submit' method='POST' style='list-style: none; position: relative; float: left; display: block; left: 45%;'>
        <input type='radio' name='location' value='Wellesley Campus Center'> Wellesley Campus Center</li><br><br>
        <input type='radio' name='location' value='Wellesley Chapel'> Wellesley Chapel</li><br><br>
        <input type='radio' name='location' value='Olin East Hall'> Olin East Hall</li><br><br>
        <input type='radio' name='location' value='Hollister Parking Lot'> Hollister Parking Lot</li><br><br>
  <input type="submit" value="Submit">
    </form><br><br>
</div>
<div align='center' style='margin-top:20%;'><p2>For questions and feedback, please <a href="mailto:bowshuttle@gmail.com">contact the team</a></p2></div>