<div align='center'>
    <h1>Babson-Olin-Wellesley Shuttle Tracker</h1>
</div>
<div align='center'>
    <h2>Last seen at: [location] </h2>
    <p2>[xx:xx] </p2>
</div>
<div style='width: 100%; overflow: hidden;'>
    <h2 align='center'>Tell us where the shuttle is!</h2>
    <form class="ajax-form" action='submit' method='POST' style='list-style: none; position: relative; float: left; display: block; left: 45%;'>
        <input type='radio' name='location' value='lulu'> Wellesley Campus Center</li><br><br>
        <input type='radio' name='location' value='chapel'> Wellesley Chapel</li><br><br>
        <input type='radio' name='location' value='olin'> Olin East Hall</li><br><br>
        <input type='radio' name='location' value='babson'> Hollister Parking Lot</li><br><br>
  <input type="submit" value="Submit">
    </form>
</div>

