<div align='center'>
    <h2 id='lastPlace'>Last seen at: {{lastPlace}} </h2>
    <p2 id='lastTime'><strong>{{lastTime}}</strong></p2>
</div>
<div style='width: 100%; overflow: hidden;'>
    <h2 id='changeHeader' align='center'>Tell us where the shuttle is!<br></h2>
    <form id='hideForm' class="ajax-form" action='submit' method='POST' style=''>
        <p2>
            <input type='radio' name='location' value='Wellesley Campus Center'> Wellesley Campus Center</li><br><br>
            <input type='radio' name='location' value='Wellesley Chapel'> Wellesley Chapel</li><br><br>
            <input type='radio' name='location' value='Olin East Hall'> Olin East Hall</li><br><br>
            <input type='radio' name='location' value='Hollister Parking Lot'> Hollister Parking Lot</li><br><br>
            <!-- Name (optional): <input type="text" name="name"/><br><br> -->
            <span id="submit-button"><input class="btn btn-default btn-raised" id="submit" type="submit" value="Submit"></span></p2>
    </form><br><br>
</div>
<div align="center" id="area"></div>
<div align="center"><button class="btn btn-default btn-raised" id="cats" data-rel="http://thecatapi.com/api/images/get?format=src&amp;type=gif" style="display:none">Click for a cat gif!</button></div>
<div align='center' style='margin-top:2%;'></p2>
    <p2><a href='/info'>More info</a></p2><br><br>
    <p2>For questions and feedback, please <a href="mailto:bowshuttle@gmail.com">contact the team</a></p2>
    <br><br><p2>Shuttle schedule available <a href="http://www.babson.edu/admission/visiting-babson/wellesley/shuttle-schedule/Pages/weekday-bow-shuttles.aspx">here</a></p2><br><br>
    <p2>See previous sightings <a href='/sightings'>here</a></p2><br><br>
    <p2>&#8226; &#8226; &#8226; &#8226; &#8226; </p2><br><br>
    <img src="/images/logo.png"></div>