.ajax-form {
    list-style: none; 
    width: 40rem; 
    padding-top: 2rem;
    position: relative; 
    float: left; 
    display: block; 
    left: 43%;
    font-size: 2rem;
}

#submit-button {
    padding-left: 5rem
}