.ajax-form {
    list-style: none; 
    max-width: 80rem; 
    padding-top: 2rem;
    position: relative; 
    float: left; 
    display: inline-block; 
    font-size: 2.5rem;
}

.form-wrapper {
    margin-right: auto;
    margin-left: auto;
    width:35rem;
}

#submit-button {
    text-align: center;
}

.form-label {
    font-weight: normal;
}